/* Tablet */
@media only screen and (min-width: 401px) and (max-width:960px){
    /* body{
        width: auto;
    } */

    .about-img-div{
        width: 60%;
        height: 60%;
    }

    .about-div{
        width: 100%;
    }


    .section-2{
        height: 90%;
    }
    .section-3{
        height: 90%;
    }
    .section-4{
        height: 90%;
    }

    .about-content{
        width: 40%;
        text-align: center;
    }

    .section-3-content{
        width: 100%;
    }
    .mission-content{
        width: 60%;
        text-align: center;
    }

    .mision-img-div{
        width: 100%;
        /* height: 100%; */
    }

    .why-content{
        width: 50%;
        text-align: center;
    }

    .why-img-div{
        width: 60%;
        height: 60%;
    }

    .section-5{
        height: 200vh;
        display: flex;
        flex-direction: column;  
       
    }

    .product-head{
        margin-top: 10px;
    }

    .btn-more{
        /* margin-bottom: 20%; */
    }
    .section-5-div{
        width: 80%;
        height: 25%;
        display: block;
        /* margin-top: 5%; */
    }

    .product-content{
        height: 40%;
        font-size: 20px;
    }

    .map-container{ 
        width: 80%;
        height: 100%;
        margin-left: 10%;
        justify-content: center;
    }

    iframe{
        height: 100%;
    }

    .map-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 60%;

    }
    .contact-text{
        font-size: 30px;
    }
   .contact-message{
       width: 100%;
   }



    .section-6{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 130%;
    }

    .visit{
        
    }

    .social-media{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font: 50px;
        margin-bottom: 300px;
        margin-top: 0;
    }

    .social-media > .fab{
        margin: 10%;
        color: orange;
        width: 100%;
    }

}