@media only screen and (max-width: 400px){
   
    body{
        overflow-x: hidden;
    }
   /* ABOUT US SECTION */
   .title{
       font-size: 20px;
   }
   
   .btn-div{
       size: 30%;
   }
    .logo{
        display: none;
    }

    .navbar-home{
        width: 100%;
    }
    .home-logo{
        display: none;
    }
    .navbar-home .dropdown-home{
       
        justify-content: left;
    }


    .contact-nav{
        margin-left: 20px;
    }

    .dropdown-home button{
        width: 150%;
    }

    .dropbtn{
        font-size: 8px;
    }

  

    .about-text{ 
        font-size: 13px;
    }

    .section-2{
        height: 120%;
    }
    .about-div{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

    }

    .about-img-div{
        height: 50%;
        width: 80%;
    }

    .about-content{
       
        height: 40%;
        width: 100%;

    }

    .content-box{
     
        width: 100%;
        align-items: center;
    }

    .about-text{
        width: 100%;
        font-size: 12px;
        text-align: center;
    }

    /* WHAT WE OFFER*/

    .section-3{
        height: 120%;
    }
    .section-3-content{
        display: flex;
        flex-direction: column;
        align-items: center;
       
        width: 100%;
    }

    .mission-img-div{
        height: 50%;
        width: 80%;
    }


    .mission-content{
     
        width: 100%;
        align-items: center;
    }

    .mission-text{
        width: 100%;
        font-size: 12px;
        text-align: center;
    }

    /* WHY PAGE */

    .section-4{
        height: 120%;
    }
    .section-4-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        width: 100%;
    }

    .why-img-div{
        height: 50%;
        width: 80%;
    }


    .why-content{
        
        width: 100%;
        align-items: center;
    }

    .why-text{
        width: 100%;
        font-size: 12px;
        text-align: center;
    }

 /* SECTION 5 PAGE */
 .section-5{
    height: 250%;
    display: flex;
    flex-direction: column;
    width: 100%;

}
/* .section-5-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px blue solid;
    width: 100%;
} */

.section-5-div{
    width: 100%;
}

/* CONTACT PAGE */
.section-6{
    display: flex;
    flex-direction: column;
    height: 180%;
    width: 100%;
}


.contact-message{
    width: 100%;
    /* border: 2px red solid; */
    margin-right: 20%;
}

.form-contents{
    /* border: 2px yellow solid; */
    width: 100%;
    margin-left: 3%;
    
}

.contact-text{
    font-size: 30px;
    margin-left: 7%;
}

.form-input{
    width: 100%;
}

.form-contents{
    width: 100%;
}
.social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.map-container{
   width: 100%;
   height: 20%;
 
}

.map-text {
    margin-top: 0;
    margin-bottom: 20%;
}

.product-page{
  
}

.product-quote{
    padding: 15px;
    height: 60%;
    width: 60%;
 
}

.product-quote h2{
    font-size: 16px;

}

.product-div{
    height: 100%;
    width: 100%;
   
}

.more{
    width: 50%;
}

}