*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px solid greenyellow; */
}

html{
    scroll-behavior: smooth;
}

body{
    background: url(Images/capstone.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;

}

/* LANDING PAGE */
.section-1{
    width: 100%;
    height: 100vh;
    background: url(Images/tech1-3.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
    font-size: 40px;
    justify-content: center; 
    color: whitesmoke;
    font-family: 'Source Code Pro', monospace;
    font-style: bold;
}

.header{
    font-family: 'Rajdhani', sans-serif;

}

.land-btn{
    padding: 10px 15px;
    background-color: orange;
    border-style: none;
    transition: 0.5s;
    font-size: 20px;
    color: azure;
    font-family: 'Rajdhani', sans-serif;

}

.land-btn:hover{
    padding: 10px 20px;
    background-color: chocolate;
}

.btn-div{
    justify-content: center;
    display: flex;
}
/* NAVIGATION BAR */
.navbar-home{
    background-color: black;
    position: sticky;
    top: 0px;
    display: flex;
    z-index: 10000;
    width: 100%;
}

.logo{
    width: 100%;
    height: 120%;
}
.navbar-home a{
    font-size: 16px;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    /* border: 2px red solid; */
    width: 20%;
    
}

.dropdown-home{
    position: relative;
    width: 20%;
}

.dropdown-home .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color:orange;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    width: 100%;
}

.navbar-home a:hover, .dropdown-home:hover .dropbtn{
    background-color: rgb(49, 49, 49);
    text-decoration: none;
    color: chocolate;
    /* width: 50%; */
}

.dropdown-content{
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.2);
    z-index: 3;
    position: absolute;
    width: 100%;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
    width: 100%;
}

.dropdown-content a:hover{
    background-color: rgb(107, 94, 94);
    width: 100%;
}

.dropdown-home:hover .dropdown-content{
    display: block;
    width: 20%;
}

/* HOME PAGE/ CAROUSEL */

.more-btn{
    padding: 8px 20px;
    background-color: orange;
    border-style: none;
    transition: 0.5s;
    font-size: 12px;
    color: azure;
    font-family: 'Rajdhani', sans-serif;
}

.more-btn:hover{
    background-color: chocolate;
}
/* ABOUT US PAGE */
.section-2{
    background-color: rgb(49, 49, 49, 0.75);
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}



.about-div{
    /* margin-top: 5%; */
    display: flex;
    /* background-color: pink; */
    height: 60%;
    width: 90%;
}

.about-content{
    text-align: center;
    /* border: 1px dashed gray; */
    padding: 30px 50px;
    /* background-color: orange; */
    width: 60%;

}
.about-title{
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    color: whitesmoke;
    margin-bottom: 5%;
   
}

.about-text{
    font-family: 'PT Mono', monospace;    
    font-size: 15px;
    color: whitesmoke;
    line-height: 1.5;
    text-align: justify;
    width: 100%;
}

.about-img{
   width: 100%;
   height: 100%;
}

.about-img-div{
    /* border: 1px solid red; */
    width: 35%;
}

/* OUR MISSION */
.section-3{
    background-color: rgb(49, 49, 49, 0.80);
    /* background-color: red; */
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.section-3-content{
    display: flex;
    /* background-color: pink; */
    height: 60%;
    width: 90%;
    justify-content: center;
    align-items: center;
}



.mission-content{
    text-align: center;
    /* border: 1px dashed gray; */
    padding: 30px 50px;
    /* background-color: orange; */
    width: 60%;
    height: 100%;
}
.mission-title{
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    color: whitesmoke;
    margin-bottom: 5%;
   
}

.mission-text{
    font-family: 'PT Mono', monospace;    
    font-size: 15px;
    color: whitesmoke;
    line-height: 1.5;
    text-align: justify;
    width: 100%;
}

.mission-img{
    width: 100%;
    height: 100%;
}

.mission-img-div{
    width: 40%;
    height: 110%;
}
/* WHY PAGE */

.section-4{
    background-color:  rgb(49, 49, 49, 0.75);
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
   
}

.section-4-content{
    display: flex;
    /* background-color: pink; */
    height: 60%;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.why-content{
    text-align: center;
    /* border: 1px dashed gray; */
    padding: 30px 50px;
    /* background-color: orange; */
    width: 50%;
    height: 100%;

}
.why-title{
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    color: whitesmoke;
    margin-bottom: 5%;
   
}

.why-text{
    font-family: 'PT Mono', monospace;    
    font-size: 15px;
    color: whitesmoke;
    line-height: 1.5;
    text-align: justify;
    width: 100%;
}

.why-img{
    width: 100%;
    height: 100%;
}

.why-img-div{
    width: 35%;
    height: 110%;
    margin-right: 5%;
}
  

.header-1{
    display: flex;
    text-align: center;
}

/* BLOG PAGE */
.section-6{
    width: 100%;
    height: 100vh;
    background-color: #292b2c;
    display: flex;
}

.form-contents, .contact-message{
    width: 100%;
    margin-left: 20px;
    margin-top: 60px;
}

/* SERVICES */
.section-5{
    /* background-color: rgb(49, 49, 49, 0.5);  */
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.section-5-div{
    height: 80%;
    /* background-color: rgb(49, 49, 49); */
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
   
}


.panel-1{
    background-color: rgb(49, 49, 49);
    height: 120%;
}

.panel-2{
    background-color: rgb(49, 49, 49);
    height: 120%;

}

.panel-3{
    background-color:rgb(49, 49, 49);
    height: 120%;

}


.product-head{
    color: white;
    font-size: 35px;
}
.fa-laptop-code{
    font-size: 100px;
    margin-bottom: 0px;
    color:orange;
    margin-top: 20px;
   
}

.fa-network-wired{
    font-size: 100px;
    margin-bottom: 0px;
    color: orange;
    margin-top: 20px;
}

.fa-keyboard{
    font-size: 100px;
    margin-bottom: 0px;
    color: orange;
    margin-top: 20px;
}

.product-content{
    font-size: 13px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    color: white;
    /* text-align: justify; */

}
.btn-more{
    /* margin-top: 10px; */
    padding: 8px 24px;
    border: 2px gray solid;
    /* transition: 0.5s; */
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
    color: white;
    background-color: rgb(49, 49, 49);
}

.btn-more:hover{
    border: 2px orange solid;
}


/* CONTACT PAGE */

.section-6{
    background-color: #1b1d1e;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.contact-text{
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    color: whitesmoke;
    width: 100%;
    text-align: center;

}


.contact-message{
    justify-content: center;
    display: flex;
    width: 50%;
    height: 80%;
    padding: 20px;
    /* border: 3px yellow solid; */

}

.form-input{
    display: block;
    width: 90%;
    font-size: 18px;
    margin: 22px 22px;
    align-content: center;
    justify-content: center;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    font-family: "Rajdhani"

}

form{
    width: 100%;
    /* padding: 20px; */
    justify-content: center;
    align-content: center;
    /* border: 3px red solid; */
}
/* 
.form-contents{
    margin-top: 20px;
    margin-right: 20px;
    border: blue 3px solid;
} */

.form-contents{
    height: 100%;
    margin-top: 0px;

}
.map-text{
    display: table-column;
    color: white;
    text-align: center;
    margin-top: 4%;
}


.contact-btn{
    padding: 3px 10px;
    background-color: orange;
    border-style: none;
    border-radius: 10%;
    margin-left: 72%;
    transition: 0.5s;
}

.contact-btn:hover{
    background-color: chocolate;
}

.address-head{
    font-family: 'Source Code Pro', monospace;
}
.address{
    font-family: "Rajdhani"
}
.map-container{
    display: flex;
    height: 50%;
}

.map-container iframe {
    height: 100%;
    width: 100%;
}

.fa-facebook-square {
    color: white;
    font-size: 40px;
  }
  
  .fa-twitter-square {
    font-size: 40px;
    color: white;
  }
  
  .fa-google-plus-square {
    color: white;
    font-size: 40px;
  }
  
  .fa-linkedin-square {
    color: white;
    font-size: 40px;
  }

  .social-media{
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  .social-media > .fab{
      justify-content: space-between;
      margin: 3px;
      color: orange;
  }

  /* PRODUCT PAGE */

  .product-title{
    text-align: center;
    font-size: 60px;
    font-style: bold;
    justify-content: center; 
    color: black;
    font-family: 'Source Code Pro', monospace;
    font-style: bold;

  }

  .product-page{
    width: 100%;
    height: 100vh;
    background: url(Images/product1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-quote{
    background-color: orange;
    padding: 15px;
    height: 40%;
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    border: 1.5px black solid;
    border-radius: 10px;
}

.product-quote h2{
    display: flex;
    font-size: 25px;
    font-family: 'Source Code Pro', monospace;
}

.product-div{
    height: 100%;
    width: 100%;
    background-color: gainsboro;
    display: flex;
}

.more{
    margin: auto;
    padding: 8px 20px;
    background-color: rgb(49, 49, 49);
    border-style: none;
    transition: 0.5s;
    font-size: 12px;
    color: azure;
    font-family: 'Rajdhani', sans-serif;
    width: 20%;

}

.more:hover{
    background-color: chocolate;
}
}
